body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1b1b1b;
  color: white;
  font-family: Arial;
}

#topbar {
  background: #222;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#main {
  flex: 1;
  display: flex;
}

#hierarchy {
  width: 200px;
  background: #252525;
  padding: 10px;
  overflow-y: auto;
}

#inspector {
  width: 250px;
  background: #252525;
  padding: 10px;
}

#game {
  flex: 1;
  display: block;
}

#assets {
  background: #222;
  padding: 5px;
}
